<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>우거지 - 서영</title>
</head>
<body style="position: relative; margin: 0; padding: 3%; background-color: goldenrod">
    <div style="display: flex; flex-direction: column; row-gap: 5px; justify-content: center; align-items: center">
        <div style="display: flex; flex-direction: column; align-items: center">
            <h1>우거지</h1>
            <h2>이서영(누렁이)</h2>
        </div>
        <div style="width: 20vw; height: 50vh"> <img style="width: 100%; height: 100%; object-fit: cover; border-radius: 50%" src="https://gdimg.gmarket.co.kr/1655620556/still/400?ver=1593073519"> </div>
    </div>
</body>
</html>