<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>이별 노래와 함께하는 Django 수업</title>
</head>
<body style="display: flex;flex-direction: column;align-items: center;">
    <!-- 이별 노래 영상 -->
    <h1>{{ singer }} - {{ title }}</h1>
    <div>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/dbRTeWxEM_8?si=aoCWzqyQlxR-7CPt" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
     <pre style="font-weight: bold;font-size: 1.1rem;margin: 1%;font-family: ahn2006-M">
    지금은 우리가 헤어져야 할 시간 다음에 또 만나요
    지금은 우리가 헤어져야 할 시간 다음에 다시 만나요

    헤어지는 마음이야 아쉬웁지만 웃으면서 헤어져요
    다음에 또 만날 날을 약속하면서 이제 그만 헤어져요

    지금은 우리가 헤어져야 할 시간 다음에 또 만나요
    지금은 우리가 헤어져야 할 시간 다음에 다시 만나요

    헤어지는 마음이야 아쉬웁지만 웃으면서 헤어져요
    다음에 또 만날 날을 약속하면서 이제 그만 헤어져요

    지금은 우리가 헤어져야 할 시간 다음에 또 만나요
    지금은 우리가 헤어져야 할 시간 다음에 다시 만나요

    다음에 다시 만나요
    </pre>
    </div>
</body>
</html>